{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h1 align="center">Minutes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.subject }}            
        {{ note.data }}
        {{ note.absents }}
        {{ note.raisedby }}
        {{ note.actions }}
        {{ note.tobea }}
        {{ note.subsequent }}
        {{ note.completion }}
        {{ note.date }}

        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">

      <h2>Subject Matter </h2>
      <textarea name="subject" id="subject" class="form-control"></textarea>
      <h2>Info</h2>
      <textarea name="info" id="info" class="form-control"></textarea>
      <h2>Absents</h2>
      <textarea name="absents" id="absents" class="form-control"></textarea>
      <h2>Raisedby</h2>
      <textarea name="raisedby" id="raisedby" class="form-control"></textarea>
      <h2>Actions</h2>
      <textarea name="actions" id="actions" class="form-control"></textarea>
      <h2>To be actioned</h2>
      <textarea name="tobea" id="tobea" class="form-control"></textarea>
      <h2>Subsequent</h2>
      <textarea name="subsequent" id="subsequent" class="form-control"></textarea>
      <h2>Completion</h2>
      <textarea name="completion" id="completion" class="form-control"></textarea>


      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Minute</button>
      </div>
    </form>
    {% endblock %}